<table class='table strong-info'>
  <thead>
    <tr>
      <th>user</th>
      <th>description</th>
      <th>files</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image.jpg") %><br>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.opinion %></td>
        <td><%= user.post_files.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>