<table class='table'>
  <tr>
      <th>Image</th>
      <th><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no-image.jpg") %></th>
  </tr>
  <tr>
	  <th>Name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>Contact</th>
	  <th><%= user.email %></th>
  </tr>
  <tr>
	  <th>Description</th>
	  <th><%= user.opinion %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to 'Edit Profile',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <%= link_to "Create Files",new_post_file_path,class: "btn btn-outline-secondary btn-block fas fa-file" %>
  <%= link_to "Show Favorites",favorites_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-heart" %>
  <%= link_to "Check Calendar",user_events_path(user_id: current_user.id,targeturl: "" ,targetyear: Date.today.year, targetmonth: Date.today.month, targetday: Date.today.day),class: "btn btn-outline-secondary btn-block fas fa-calendar-check"%>
</div>
