<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Favorites</h2>
        <table class="table strong-info">
          <thead>
            <tr>
              <th>user</th>
              <th>title</th>
              <th>info</th>
            </tr>
          </thead>
          <% @favorites_all.each do |favorite| %>
            <tr>
              <td>
                <%= link_to user_path(favorite.user) do %>
                  <%= attachment_image_tag(favorite.user, :profile_image, :fill, 50, 50, fallback: "no-image.jpg") %><br>
                  <%= favorite.user.name %>
                <% end %>
              </td>
              <td><%= link_to favorite.title,post_file_path(favorite) %></td>
              <td>
                date:<%= favorite.updated_at %><br>
                comments:<%= favorite.post_comments.count %><br>
                favorites:<%= favorite.favorites.count %>
              </td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>