views/users/show.html.erb
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Files</h2>
      <table class="table">
        <tr>
          <th>title</th>
          <th>user</th>
          <th>date</th>
          <th></th>
          <th></th>
        </tr>
        <% @user.post_files.each do |pf| %>
          <tr>
            <th><%= link_to pf.title, post_file_path(pf) %></th>
            <th><%= pf.user.name %></th>
            <th><%= pf.updated_at %></th>
            <% if current_user.id == @user.id %>
              <th><%= link_to "Edit", edit_post_file_path(pf),class: "fas fa-edit" %></th>
              <th><%= link_to "Delete", post_file_path(pf), method: :delete,data: {confirm: '本当に消しますか？'} ,class: "fas fa-trash-alt" %></th>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>