views/events/index.html.erb
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User Info</h2>
      <%= render 'users/info', user: current_user %><br>
      <h2>Filter</h2>
      <%= link_to "Reset Filter" ,user_events_path(start_date: @start_date,tag_id: tag.id,user_id: current_user.id, targeturl: request.url,targetyear: Date.today.year, targetmonth: Date.today.month, targetday: Date.today.day) ,class: "btn btn-outline-success" %><br>
      <% @tag_all.each do |tag| %>
        <%= link_to tag.name,user_events_path(start_date: @start_date,tag_id: tag.id,user_id: current_user.id, targeturl: request.url,targetyear: Date.today.year, targetmonth: Date.today.month, targetday: Date.today.day) ,class: "btn btn-outline-secondary" %> 
        <%= link_to "",tag_post_files_path(tag) ,class: "fas fa-search" %>
      <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Month Calendar & Add plan<i class =" fas fa-pencil-alt"></i></h2>
      <div class= 'calendar'>
        <%= form_with model: @event, url: user_events_path, local: true do |form| %>
        <div>
          <table>
            <tr>
              <th>title</th>
              <th>introduction</th>
            </tr>
            <tr>
              <th><%= form.text_field :title %></th>
              <th><%= form.text_field :content %></th>
            </tr>
            <tr>
              <th>URL</th>
              <th>Tag</th>
            </tr>
            <tr>
              <th><%= form.text_field :tasklink, :value => @targeturl %></th>
              <th><%= form.text_field :name ,placeholder: "','で区切ってください。" %></th>
            </tr>
          </table>
        </div>
        <div>
          <table>
            <tr>
              <th>start</th>
              <th>end</th>
            </tr>
            <tr>
              <th><%= form.datetime_select :start_time, use_month_numbers: true, default: Time.new(@targetyear.to_i , @targetmonth.to_i, @targetday.to_i) %></th>
              <th><%= form.datetime_select :end_time, use_month_numbers: true, default: Time.new(@targetyear.to_i, @targetmonth.to_i, @targetday.to_i) %></th>
              <th><%= form.submit class: "btn btn-outline-secondary btn-block" %></th>
            </tr>
          </table>
        </div>
        <% end %>
        <br>
        <div>
          <%= month_calendar events: @events do |date,events| %>
            <%= link_to date.day,user_events_path(start_date: date,user_id: current_user.id,targeturl: @targeturl, targetyear: date.year, targetmonth: date.month, targetday: date.day) %><br>
            <% events.each do |event| %>
              <%= link_to event.title, event.tasklink %><br>
              <%= link_to "", user_event_path(events,event.id,start_date: event.start_time), method: :delete, class: "fas fa-window-close" %>
              <%= link_to "", user_event_path(events,event.id,start_date: event.start_time), class: "fas fa-eye" %><br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>