views/events/index.html.erb
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User Info</h2>
      <%= render 'users/info', user: current_user %><br>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Calendar & Add plan<i class =" fas fa-pencil-alt"></i></h2>
      <div class= 'calendar'>
        <%= form_with model: @event, url: user_events_path, local: true do |form| %>
        <div>
          <table >
            <tr>
              <th>title</th>
              <th>introduction</th>
              <th>URL</th>
            </tr>
            <tr>
              <th><%= form.text_field :title %></th>
              <th><%= form.text_field :content %></th>
              <th><%= form.text_field :tasklink, :value => @targeturl %></th>
            </tr>
          </table>
        </div>
        <div>
          <table>
            <tr>
              <th>start</th>
              <th>end</th>
            </tr>
            <tr>
              <th><%= form.datetime_select :start_time, use_month_numbers: true, default: Time.new(@targetyear.to_i , @targetmonth.to_i, @targetday.to_i) %></th>
              <th><%= form.datetime_select :end_time, use_month_numbers: true, default: Time.new(@targetyear.to_i, @targetmonth.to_i, @targetday.to_i) %></th>
              <th><%= form.submit class: "btn btn-outline-secondary btn-block" %></th>
            </tr>
          </table>
        </div>
        <% end %>
        <br>
        
        <div>
          <%= month_calendar events: @events do |date,events| %>
            <%= link_to date.day,user_events_path(user_id: current_user.id,targeturl: @targeturl, targetyear: date.year, targetmonth: date.month, targetday: date.day) %><br>
            <% events.each do |event| %>
              <%= link_to event.title, event.tasklink %><br>
              <%= link_to "", user_event_path(events,event.id), method: :delete, class: "fas fa-window-close" %>
              <%= link_to "", user_event_path(events,event.id), class: "fas fa-eye" %><br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>