<div class='container px-5 px-sm-0'>
  <div class='row align-items-center'>
    <div class='col-md-3'>
      <h2>Extremely Busy</h2>
      <%= image_tag 'neko4.jpg', :size =>'250x400' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2 class='fas fa-cat about_anime'>猫の手も借りたい。そうでしょう？</h2>
    </div>
  </div>
</div>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>TaskShareは あなたの仕事の効率化をサポートします。</h2>
    </div>
    <div class='col-md-8 offset-md-1'>
      <span>
        <ul>
          <li class ="fas fa-paw about_anime"><u>仕事内容を共有しましょう</u></li>
            <%= image_tag 'about3.jpg' , class: "about_anime" %>
          <li class ="fas fa-paw about_anime"><u>他のユーザの資料を調べてみましょう</u></li>
            <%= image_tag 'about4.jpg', class: "about_anime" %>
          <li class ="fas fa-paw about_anime"><u>マイカレンダーで，予定を管理しましょう</u></li>
            <%= image_tag 'about5.jpg', class: "about_anime" %>
          <li class ="fas fa-paw about_anime"><u>1週間の仕事を，グラフで振り返りましょう</u></li>
            <%= image_tag 'about6.jpg', :size =>'500x300', class: "about_anime" %>
        </ul>
      </span>
    </div>
  </div>
</div>