
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User Info</h2>
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Results index</h2>
      <% if @range == '1' %>
        <h4><%= @users.count %>serch result</h4>
          <table class="table">
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
            <% @postfiles.each do |postfiles| %>
            <tr>
              <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image.jpg") %></td>
              <td><%= user.name%></td>
              <td><%= link_to "Show", user_path(user) %></td>
            </tr>
            <% end %>
          </table>
      <% else %>
        <h4><%= @postfiles.count %>serch result</h4>
          <table class="table">
            <tr>
              <th>title</th>
              <th>user</th>
              <th>date</th>
              <th>comments</th>
              <th>favorited</th>
            </tr>
            <% @postfiles.each do |postfiles| %>
            <tr>
              <th><%= link_to postfiles.title, post_file_path(postfiles) %></th>
              <th><%= link_to postfiles.user.name,user_path(postfiles.user) %></th>
              <th><%= postfiles.updated_at %></th>
              <th><%= postfiles.post_comments.count %></th>
              <th><%= postfiles.favorites.count %></th>
            </tr>
            <% end %>
          </table>
      <% end %>
    </div>
  </div>
</div>
