<%= form_with model: files, local: true do |form| %>
  <div calss = "form-group">
    <%= form.label :title ,class:"font-weight-bold" %>
    <%= form.text_field :title ,class:"form-control input-sm" %><br>
  </div>
  <div calss = "form-group">
    <%= form.label :files,class:"font-weight-bold" %><br>
    <%= form.file_field :files, multiple: true %><br><br>
  </div>
  <div calss = "form-group">
    <%= form.label :introduction,class:"font-weight-bold" %><br>
    <%= form.text_area :introduction,class:"form-control input-sm" %><br>
  </div>
  <div class = "form-group">
    <%= form.label :tag,class:"font-weight-bold" %>
    ※現在のTag:
    <%= @tag_list %>
    <%= form.text_field :name, placeholder: "タグを複数つけるには','で区切ってください。",class: "form-control input-sm", value: @tag_list %>
  </div>
  <div id ="evaluate_stars">
    <label>重要度</label>
    <%= form.hidden_field :evaluation, id: :review_star %>
  </div>
  <div calss = "form-group">
    <%= form.submit %>
  </div>
<% end %>
<script>
  $('#evaluate_stars').raty({
  starOn: "<%= asset_path('star-on.jpg') %>",
  starOff: "<%= asset_path('star-off.jpg') %>",
  starHalf: "<%= asset_path('star-half.jpg') %>",
  scoreName: 'post_file[evaluation]' //登録するモデル名とカラム名を記述
  });
</script>